apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dispatcharr-pvc
  namespace: arr
spec:
  storageClassName: nfs-client
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
