apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama
  namespace: ollama
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ollama
  template:
    metadata:
      labels:
        name: ollama
    spec:
      tolerations:
      - key: "nvidia.com/gpu"
        operator: "Equal"
        value: "true"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: gpu
                operator: In
                values:
                  - "true"
      containers:
      - name: ollama
        image: ollama/ollama:0.12.9
        volumeMounts:
          - mountPath: /root/.ollama
            name: ollama-storage
        resources:
          limits:
            nvidia.com/gpu: 1
          requests:
            memory: 15Gi
        ports:
        - name: http
          containerPort: 11434
          protocol: TCP
        env:
        - name: PRELOAD_MODELS
          value: "gemma3:14b"
        - name: OLLAMA_KEEP_ALIVE
          value: "12h"
      volumes:
      - name: ollama-storage
        persistentVolumeClaim:
            claimName: ollama-models-pvc