apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: invokeai-pvc
  namespace: ai
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: nfs-client