apiVersion: v1
kind: ConfigMap
metadata:
  name: mqtttelegram-config
  namespace: dvr
data:
  config.json.template: |
    {
      "mqtt": {
        "url": "${MQTT_URL}",
        "client-id": "mqtt-telegram",
        "topic": "telegram",
        "username": "${MQTT_USER}",
        "password": "${MQTT_PASS}"
      },
      "telegram": {
        "token": "${TELEGRAM_TOKEN}",
        "start-code": "${TELEGRAM_START_CODE}",
        "chat-ids": {
          "displayname1": ${TELEGRAM_CHAT_ID}
        }
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtttelegram
  namespace: dvr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mqtttelegram
  template:
    metadata:
      labels:
        app: mqtttelegram
    spec:
      initContainers:
      - name: render-config
        image: alpine:3.20
        command:
          [
            "sh",
            "-c",
            "apk add --no-cache gettext && envsubst < /config/config.json.template > /generated/config.json"
          ]
        envFrom:
          - secretRef:
              name: mqtttelegram-secret
        volumeMounts:
          - name: config-template
            mountPath: /config
          - name: generated-config
            mountPath: /generated
      containers:
        - name: mqtttelegram
          image: pharndt/mqtttelegram:1.0.4
          env:
            - name: TZ
              value: "America/Los_Angeles"
          volumeMounts:
            - name: generated-config
              mountPath: /var/lib/mqtttelegram
      restartPolicy: Always
      volumes:
        - name: config-template
          configMap:
            name: mqtttelegram-config
        - name: generated-config
          emptyDir: {}
