server:
  controllers:
    main:
      containers:
        main:
          image:
            tag: v2.4.1
            pullPolicy: IfNotPresent
          env:
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-db-app
                  key: host
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-db-superuser
                  key: user
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-db-superuser
                  key: password
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: immich-db-app
                  key: dbname

valkey:
  enabled: true

immich:
  persistence:
    library:
      existingClaim: immich-library-pvc
